.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    background-color: rgb(164, 164, 164);
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.media-body {
    margin-left: 20px;
}